<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Vita:Api" />
    <add key="EnvironmentName" value="Local" />
    <add key="Logging:Serilog:Level" value="Debug" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Vita" connectionString="Server=localhost,1533;Database=Vita;User ID=sa;Password=Vita123!@#;" providerName="System.Data.SqlClient" />-->
    <add name="Vita" connectionString="Data Source=(local)\;Database=Vita; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>